.Formulaire {
  width: 550px;
  margin: 0 auto;
  text-align: left;
}

.Formulaire .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.Formulaire .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: right;
}
.Formulaire .form-data input:not([type='submit']) {
  flex-grow: 1;
}

